<div class="jumbotron">
<h1>Welcome to your Checklist</h1>
<h2>Keep track of all of your stuff</h2>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
<%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
</div>